import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
    debug = false
    help = false

    strainfile = null
    sparse_cut = 0.05
    group_qtl  = 1000
    ci_size    = 150
    maf        = null
    nqtl       = null
    reps       = 2
    h2         = null
    effect     = null
    qtlloc     = null
    sthresh    = "BF"
    mito_name  = null
    simulate_qtlloc = null

    // 
}

outputDir = "Analysis_Results-${params.day}"

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
