/*
    Docker Configuration — local execution with containerized tools
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: 'LOCAL_.*' {
        container = "quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
    }
    withName: 'BCFTOOLS_.*' {
        container = "quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
    }
    withName: 'PLINK_.*' {
        container = "andersenlab/plink:1.9"
    }
    withName: 'GCTA_.*' {
        container = "quay.io/biocontainers/gcta:1.94.1--h9ee0642_0"
    }
    withName: 'R_.*' {
        container = "andersenlab/r_packages:20250519"
    }
    withName: 'PYTHON_.*' {
        container = "andersenlab/numpy:20250506"
    }
    withName: 'DB_MIGRATION_.*' {
        container = "andersenlab/migrate-sims:20260202"
    }
}
