/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    time = "1.hour"
    cpus = 1
    memory = "4G"
    partition = "parallel"

    /*withName: "LOCAL_*" {
        executor = 'local'
        container = null
    }*/
    //withName: 'BCFTOOLS_*' { container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1" }
    //withName: 'PLINK_*'    { container = "docker://biocontainers/plink:v1.07dfsg-2-deb_cv1" }
    //withName: 'GCTA_*'     { container = "docker://quay.io/biocontainers/gcta:1.94.1--h9ee0642_0" }
    //withName: 'R_*'        { container = "docker://andersenlab/r_packages:latest" }
    
    // first three processes were prev all one processes `prepare_simulation_files`
    withLabel: "local_compile_eigens" {
        executor = 'local'
        container = null
    }
    withLabel: "local_get_contig_info" {
        executor = 'local'
        container = null
    }
    withLabel: "bcftools_extract_strains" {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        time = "3.hour"
        cpus = 4
        memory = "40G"
    }
    withLabel: "bcftools_create_genotype_matrix" {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        time = "3.hour"
        cpus = 4
        memory = "40G"
    }
    withLabel: "plink_recode_vcf" {
        container = "docker://andersenlab/plink:1.9"
        time = "3.hour"
        cpus = 4
        memory = "40G"
    }

    // previous process `chrom_eigen_variants_sims`
    withLabel: "r_find_genotype_matrix_eigen" {
        container = "docker://andersenlab/r_packages:latest"
        time = "30.minute"
        cpus = 2
        memory = "60G"
    }

    // previous all `simulate_map_phenotypes` processes
    withLabel: "gcta_simulate_phenotypes" {
        container = "docker://quay.io/biocontainers/gcta:1.94.1--h9ee0642_0"
        time = "10.minute"
        cpus = 4
        memory = "20G"
    }
    withLabel: "plink_update_by_h2" {
        container = "docker://andersenlab/plink:1.9"
        time = "10.minute"
        cpus = 4
        memory = "20G"
    }
    withLabel: "gcta_make_grm" {
        container = "docker://quay.io/biocontainers/gcta:1.94.1--h9ee0642_0"
        time = "10.minute"
        cpus = 4
        memory = "20G"
    }
    withLabel: "gcta_perform_gwa" {
        container = "docker://quay.io/biocontainers/gcta:1.94.1--h9ee0642_0"
        time = "10.minute"
        cpus = 4
        memory = "20G"
    }

    // both were previously run locally so opt. for default
    withLabel: "r_simulate_effects_global" {
        container = "docker://andersenlab/r_packages:latest"
        time = "10.minute"
        cpus = 1
        memory = "2G"
    }
    withLabel: "r_simulate_effects_local" {
        container = "docker://andersenlab/r_packages:latest"
        time = "10.minute"
        cpus = 1
        memory = "2G"
    }

    // previous process `get_gcta_intervals`
    withLabel: "r_find_gcta_intervals" {
        container = "docker://andersenlab/r_packages:latest"
        time = "20.minute"
        cpus = 1
        memory = "50G"
    }

    // also can be run locally so opt. for default
    withLabel: "r_assess_sims" {
        container = "docker://andersenlab/r_packages:latest"
        time = "20.minute"
        cpus = 1
        memory = "20G"
    }


}

executor {
    queueSize=100
    submitRateLimit=10
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

workflow {
    workDir = "/scratch4/eande106"
}

