/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    time = "1.hour"
    cpus = 1
    memory = "4G"
    partition = "parallel"

    withName: "LOCAL_*" {
        executor = 'local'
        container = null
    }
    withName: "BCFTOOLS_*" { container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1" }
    withName: "PLINK_*"    { container = "docker://biocontainers/plink:v1.07dfsg-2-deb_cv1" }
    withName: "GCTA_*"     { container = "docker://quay.io/biocontainers/gcta:1.94.1--h9ee0642_0" }
    withName: "R_*"        { container = "docker://andersenlab/r_packages:latest" }

    withLabel: "bcftools_extract_strains" {}
    withLabel: "bcftools_create_genotype_matrix" {}
    withLabel: "plink_recode_vcf" {}
    withLabel: "plink_update_by_h2" {}
    withLabel: "r_find_genotype_matrix_eigen" {}
    withLabel: "r_simulate_effect_local" {}
    withLabel: "r_simulate_effect_global" {}
    withLabel: "r_find_gcta_intervals" {}
    withLabel: "r_assess_sims" {}
    withLabel: "gcta_simulate_phenotypes" {}
    withLabel: "gcta_make_grm" {}
    withLabel: "gcta_perform_gwa" {}
}

executor {
    queueSize=100
    submitRateLimit=10
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

workflow {
    workDir = "/scratch4/eande106"
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'
}

