/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    time = "1.hour"
    cpus = 1
    memory = "4G"
    partition = "parallel"

    withName: 'LOCAL_.*' {
        executor = 'local'
        container = null
    }
    withName: 'BCFTOOLS_.*' {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
    }
    withName: 'PLINK_.*' {
        container = "docker://andersenlab/plink:1.9"
    }
    withName: 'GCTA_.*' {
        container = "docker://quay.io/biocontainers/gcta:1.94.1--h9ee0642_0"
    }
    withName: 'R_.*' {
        container = "docker://andersenlab/r_packages:20250519"
    }
    withName: 'PYTHON_.*' {
        container = "docker://andersenlab/numpy-20250506"
    }

    // first three processes were prev all one processes `prepare_simulation_files`
    withLabel: bcftools_extract_strains {
        time = "1.hour"
        cpus = 4
        memory = "40G"
        array = 100
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withLabel: bcftools_create_genotype_matrix {
        time = "1.hour"
        cpus = 4
        memory = "40G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withLabel: plink_recode_vcf {
        time = "1.hour"
        cpus = 4
        memory = "40G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }

    // previous process `chrom_eigen_variants_sims`
    withLabel: r_find_genotype_matrix_eigen {
        time = "30.minute"
        cpus = 2
        memory = "60G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }

    // previous all `simulate_map_phenotypes` processes
    withLabel: gcta_simulate_phenotypes {
        time = "10.minute"
        cpus = 4
        memory = "20G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withLabel: plink_update_by_h2 {
        time = "10.minute"
        cpus = 4
        memory = "20G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withLabel: gcta_make_grm {
        time = "10.minute"
        cpus = 4
        memory = "20G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withLabel: gcta_perform_gwa {
        time = "10.minute"
        cpus = 4
        memory = "20G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }

    // both were previously run locally so opt. for default
    withLabel: r_simulate_effects_global {
        time = "10.minute"
        cpus = 1
        memory = "2G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withLabel: r_simulate_effects_local {
        time = "10.minute"
        cpus = 1
        memory = "2G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }

    // previous process `get_gcta_intervals`
    withLabel: r_get_gcta_intervals {
        time = { "30.minute" * task.attempt }
        cpus = 1
        memory = "50G"
        errorStrategy = 'retry'
        maxRetries = 5
        array = 100
    }

    // also can be run locally so opt. for default
    withLabel: r_assess_sims {
        time = "20.minute"
        cpus = 1
        memory = "20G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
    withLabel: python_check_vp {
        time = "5.minute"
        cpus = 1
        memory = "2G"
        errorStrategy = 'retry'
        maxRetries = 3
        array = 100
    }
}

executor {
    queueSize = 100
    submitRateLimit = 10
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

workflow {
    workDir = "/scratch4/eande106"
}
